@page "/counter"
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@using Examen_Final.Clases

<PageTitle>Pagina registro de vehiculos</PageTitle>

<EditForm Model="@vehiculo" OnValidSubmit="@guardar">

    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="Contenedor-sesion">
        <div class="form-container">
            <h1 class="title" style="margin-left:40%">Registro</h1>
            <div class="form">
                <div class="row" style="margin-top:50px">
                    <div class="col">
                        <div class="input-group">
                            <label for="Numero de chasis">Numero de chasis:</label>
                            <InputText placeholder="" id="Numero de chasis" @bind-Value="vehiculo.numero_chasis"/>
                            <ValidationMessage For="() => vehiculo.numero_chasis" />
                        </div>
                    </div>
                    <div class="col">
                        <label for="Marca">Marca:</label>
                        <InputText placeholder="" id="Marca" @bind-Value="vehiculo.Marca"/>
                        <ValidationMessage For="() => vehiculo.Marca" />
                    </div>
                    <div class="col">
                        <label for="año">Año de fabricacion:</label>
                        <InputText placeholder="" id="año" @bind-Value="vehiculo.año_fabricacion"/>
                        <ValidationMessage For="() => vehiculo.año_fabricacion"/>
                    </div>
                </div>
                <div class="row" style="margin-top:50px">
                    <div class="col">
                        <label for="puertas">Numero de puertas:</label>
                        <InputNumber placeholder=""
                                     id="correo"
                                     @bind-Value="vehiculo.numero_puertas"
                                     Min="3"
                                     Max="5"/>
                        <ValidationMessage For="() => vehiculo.numero_puertas" />
                    </div>
                    <div class="col">
                        <label for="classification">Primary Classification: </label>
                        <InputSelect id="classification" class="form-select form-select-sm" @bind-Value="vehiculo.tipo_combustible">
                            <option value="">Seleccione el tipo de combustible...</option>
                            <option value="Diesel">Diesel</option>
                            <option value="Gasolina">Gasolina</option>
                            <option value="Hibrido">Hibrido</option>
                        </InputSelect>
                        <ValidationMessage For="() => vehiculo.tipo_combustible" />
                    </div>
                </div>
                <button style="margin-top:6%; margin-left: 50%" class="btn btn-dark" type="submit">Submit</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    private Automovil vehiculo = new Automovil();
    private List<Automovil> Lista_Vehiculos = new List<Automovil>();

    private void guardar()
    {
        Lista_Vehiculos.Add(vehiculo);
        localStorage.SetItem("Vehiculos", Lista_Vehiculos);
    }

    protected override async Task OnInitializedAsync()
    {
        var savedvehi = localStorage.GetItem<List<Automovil>>("Vehiculos");

        if (savedvehi != null)
        {
            Lista_Vehiculos = savedvehi;
        }
    }
}